@font-face {
    font-family: 'Comic-Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Comic-Sans'), local('Comic-Sans-Regular'), url("assets/comic-sans.woff") format('woff');
}

/*html, body {
    margin: 0;
    padding: 0;
}*/

body {
    font-family: Comic-Sans, cursive;
}

h1 {
    text-align: center;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    padding-top: 20px;
}

@media (max-width: 960px) {
    .banner {
        width: 90vw;
    }
}

#jshjskjskl {
    text-align: center;
}

h2 {
    text-align: center;
}

.yes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    border-style: solid;
    border-width: 8px;
    width: 15%;
    color: black;
}

@media (max-width: 480px) {
    .yes {
        width: 25%;
    }
}

.j {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

.b {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    padding-top: 20px;
}